<table>
	<tr>
		<td><%= label_tag :title, "Title:" %></td>
		<td><%= form.text_field :title %></td>
	</tr>
	<tr>
		<td><%= label_tag :subtitle, "Subtitle:" %></td>
		<td><%= form.text_field :subtitle %></td>
	</tr>
</table>
